* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

span {
  font-size: 10rem;
}

#clock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

  left: auto;
  right: auto;
  margin: 3rem;
  /* border: 2px solid red; */
}

#clock > div {
  display: flex;
  flex-direction: column;
  width: 20rem;
  /* border: 2px solid green; */
}

.bot {
  border-top: 3px solid black;
}
